// imports
@import 'variables'	// import variables
@import 'alert' // import alert
@import 'btn' // import btn
//@import 'style' // import algemene style ? 	

// signup
.input--text::placeholder 
	color: $color_celeste_approx

.input--text 
	font-size: 1em
	width: 100%
	padding: 0.4em
	color: $black
	margin-bottom: 1em

.app 
	background-color: $white
	width: 400px
	box-shadow: 0 0 1em $color_celeste_approx
	font-size: 1.25em
	padding: 1em

.todos 

.todo 
	border-top: 1px solid $color_alto_approx
	color: $color_sunset_orange_approx
	display: flex
	flex-direction: row
	align-items: center
	padding: 0.8em

.todo__delete 
	margin-left: auto
	color: $blue
	&:active 
		color: $red


.todo__state 
	margin-right: 0.5em

.todo--completed 
	color: $color_rose_bud_approx
	.todo__text 
		display: inline-block
		position: relative

	.todo__state 
		visibility: hidden

	.todo__state::before 
		content: "✔"
		visibility: visible
		color: $red
		position: relative
		top: -0.2em

	.todo__text::before 
		content: " "
		display: block
		position: absolute
		height: 0.1em
		width: 100%
		margin-top: calc(1em / 2 - 2px)
		border-bottom: 3px solid $color_sunset_orange_approx

